In [8]:
import pandas as pd
from pathlib import Path

In [19]:
csv_path = Path("Data_Cleaning_Resources.csv")
csv_data = pd.read_csv(csv_path)
csv_data.sample()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
378,PSA,Public Storage,Real Estate,180.49,18.21,4.316159,6.81,232.21,180.9254,3.225854e+10,1.924803e+09,16.164170,6.56,http://www.sec.gov/cgi-bin/browse-edgar?action...
278,LEG,Leggett & Platt,Consumer Discretionary,43.99,17.88,3.145478,2.76,54.97,42.0000,6.034600e+09,4.470000e+08,2.030290,4.89,http://www.sec.gov/cgi-bin/browse-edgar?action...
315,MON,Monsanto Co.,Materials,119.08,21.53,1.793871,5.09,123.15,106.9700,5.307682e+10,4.217000e+09,3.589782,7.96,http://www.sec.gov/cgi-bin/browse-edgar?action...
466,UNM,Unum Group,Financials,47.87,11.51,1.818901,4.38,58.73,43.5500,1.125643e+10,0.000000e+00,0.998492,1.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
323,NAVI,Navient,Financials,13.38,7.56,4.558404,1.01,16.97,11.4810,3.692691e+09,0.000000e+00,0.698658,1.02,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [20]:
csv_data.count()

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

In [ ]:
csv_data["customer_no"].value_counts()

In [30]:
len(csv_data. columns)

14

In [31]:
csv_data.isnull()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False
500,False,False,False,False,False,False,False,False,False,False,False,False,False,False
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
csv_data.shape

(504, 14)